[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tenacity = "*"
pytest = "*"
pytest-mock = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.11"
